@using LiveMap.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav app-auth-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link app-user-pill" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span class="app-user-dot"></span>
            Hello @User.Identity?.Name
        </a>
    </li>
    <li class="nav-item">
        <form class="app-logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link app-auth-button">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link app-auth-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link app-auth-link app-auth-link-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
