@model LiveMap.Web.Models.Picture.PictureCreateViewModel

<h2>Upload Picture</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div>
        <label>Description</label>
    </div>

    <div>
        <label>Image</label>
        <input type="file" name="file" />
    </div>

    <button type="submit">Upload</button>
</form>