@using LiveMap.Data.Models
@{
    var folderId = ViewBag.FolderId;
}

<h2>Upload Picture</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" name="folderId" value="@ViewBag.FolderId" />
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

<a asp-action="Details" asp-route-id="@folderId" class="btn btn-secondary mt-2">Back to Folder</a>