@model LiveMap.Core.DTOs.Profiles.ProfileEditDto

<h2>Edit Profile</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <input asp-for="ProfilePicture" type="hidden" />

    <div>
        <label asp-for="Bio"></label>
        <textarea asp-for="Bio"></textarea>
        <span asp-validation-for="Bio"></span>
    </div>

    <div>
        <label>Profile picture</label>
        <input type="file" name="imageFile" accept="image/*" />
    </div>

    <button type="submit">Save</button>
</form>